body{
    margin: 0;
    background-color: #056679;
    font-family: sans-serif;
}
.input-section{
    background-color: #056679;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000066;
}
.todo-container{
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    margin: 0;
    margin-bottom: 15px;
    color: #dde2e2;
}

.input-section input{
    border-radius: 5px;
    border: 1px solid #106879;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #898686;
    outline: none;
    color: #e9eeee;
}

input::placeholder{
    color: #dde2e2;
}

ul{
    text-align: left;
    padding: 0;
}

ul li{
    display: flex;
    list-style: none;
    background-color: #6f8f95;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #dde2e2;
    box-shadow: 0 4px 6px #00000066;
}

ul li i{
    text-align:  right;
    flex: 1;
}